{% extends "@!EasyAdmin/page/login.html.twig" %}

{% block head_stylesheets %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
            <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">

{% endblock %}