<div style="display: flex; flex-wrap: wrap" >
{% for item in field.value %}
  <div class="card" style="margin-right: 10px">
    <div class="card-body">
    <strong>Nom</strong>
    <p>{{ item.name }}</p>
    <strong>Nombre max de place</strong>
    <p>{{ item.nbPlaces }}</p>
    </div>
  </div>
{% endfor %}
</div>